@model uriel2.codeFirst.Models.dailyPlan

@{
    ViewData["Title"] = "CreatePlan";
}

<h1>CreatePlan</h1>

<h4>dailyPlan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatePlan">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="day" class="control-label"></label>
                <input asp-for="day" class="form-control" />
                <span asp-validation-for="day" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="totalCalories" class="control-label"></label>
                <input asp-for="totalCalories" class="form-control" />
                <span asp-validation-for="totalCalories" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="excersizeMinutes" class="control-label"></label>
                <input asp-for="excersizeMinutes" class="form-control" />
                <span asp-validation-for="excersizeMinutes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

