@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 >אותיות מחכימות</h1>
    <p class="lead"> לע"נ ר' יהודה אריה בן הר"ר מנחם מענדל ז"ל <p>
</div>

<h2>View Parsha Questions</h2>

<div>
    <button href="www.m.com">דברים</button>
    <button href="www.m.com">במדבר</button>
    <button href="www.m.com">ויקרא</button>
    <button href="www.m.com">שמות</button>
    <button href="www.m.com">בראשית</button>
</div>
