<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
    <add name="CalendarContext_ovadia" connectionString="metadata=res://*/CalendarContext.csdl|res://*/CalendarContext.ssdl|res://*/CalendarContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RSVRSNDBXSQL;initial catalog=CalendarDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="CalendarContext" connectionString="metadata=res://*/CalendarContext.csdl|res://*/CalendarContext.ssdl|res://*/CalendarContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=CalendarDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>